{% extends 'base.html' %}
{% extends 'layout.html' %}

{% block container %}
  <h2>Welcome!</h2>
  <p>Welcome to the Flask app. This is the home page. Here are a few links to example pages you might find interesting.
    <ul>
        <li><a href="{{ url_for('books')}}">A page that displays information about books</a></li>
        <li><a href="{{ url_for('authors')}}">A page that displays information about authors</a></li>
        <li><a href="{{ url_for('create_book')}}">A page with a form you can submit to create a new book record</a></li>
    </ul>
  </p>
{% endblock %}
